@font-face {
  font-family: Alata;
  src: url("fonts/Alata-Regular.ttf");
  font-wieght: 400;
}
@font-face {
  fpnt-family: JosefinSans;
  src: url("fonts/JosefinSans-VariableFont_wght.ttf");
  font-wieght: 300;
}
.Alata {
  font-family: Alata;
  font-wieght: 400;
}
.JosefinSans {
  font-family: JosefinSans;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.bg-dark {
  background-color: hsl(0, 0%, 0%);
}
.text-darkgray {
  color: hsl(0, 0%, 42%);
}
.nav-link {
  color: white;
  font-family: Alata;
  font-size: 0.83rem;
}
.nav-item {
  margin-right: 1rem;
}
