@font-face {
  font-family: Alata;
  src: url("fonts/Alata-Regular.ttf");
}
@font-face {
  fpnt-family: JosefinSans;
  src: url("fonts/JosefinSans-VariableFont_wght.ttf");
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.bg-dark {
  background-color: hsl(0, 0%, 0%);
}
.text-darkgray {
  color: hsl(0, 0%, 42%);
}
.nav-link {
  color: white;
  font-family: Alata;
  font-size: 0.83rem;
  font-weight: 400;
}
.nav-item {
  margin-right: 1rem;
}
.immersive-text{
  margin-left: 6rem;
  margin-top: 6rem;
  padding-right: 1rem;
}
.immersive-text h1{
  font-family: Alata;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 2rem;
}
.interactive-mobile{
  display: none;  
}
.interactive-text{
  padding-top: 2rem;
  margin-top: 10rem;
}
.interactive-text p{
  padding-left: 5rem;
}
.interactive-text h1{
  margin-top: 2rem;
  margin-left: 5rem;
}
.desktop-cards{
  display: block;
}
.mobile-cards{
  display: none;
}

@media screen and (max-width: 768px) {
  .immersive-text {
    margin-left: 3rem;
    margin-top: 8rem;
    padding-right: 1rem;
  }
  .immersive-text h1 {
    font-size: 3rem;
  }
  .bottom-left {
    font-size: 1rem;
  }
  .interactive-desktop{
    display: none;  
  }
  .interactive-mobile{
    display: block;
  }
  .interactive-text{
    padding-top: 0rem;
    margin: 0 auto;
    margin-top: 2rem;
    text-align: center;
  }
  .interactive-text p{
    padding-left: 0rem;
  }
  .interactive-text h1{
    margin-top: 0rem;
    margin-left: 0rem;
  }
  .desktop-cards{
    display: none;
  }
  .mobile-cards{
    display: block;
  }
}